<div class="row">
	<div class="home-cover">
		<div class="home-cover-image"></div>
		<div class="home-cover-overlay">
			<div class="home-cover-text text-center">
				<h1>Foodspan</h1>
				<p class="caption">A expiry tracker for your food</p>
				<a href="/users/sign_up" class="btn btn-primary">Sign Up Now</a>
			</div>
		</div>
	</div>

</div>


<div class="row section feature align-items-center">
	<div class="col-12 col-md-5 offset-md-1 order-2 order-md-1">
		<h2 class="text-right">Track the expiry<br>of your food</h2>
		<p class="text-right">Benefits description</p>
	</div>
	<div class="col-8 offset-4 col-md-5 offset-md-1 order-1 order-md-2 mb-3 mb-md-0">
		<%= image_tag 'feature-01.jpg', class:"img-fluid feature-img" %>
	</div>
</div>

<div class="row section feature align-items-center">
	<div class="col-8 col-md-5 mb-3 mb-md-0">
		<%= image_tag 'feature-02.jpg', class:"img-fluid feature-img" %>
	</div>
	<div class="col-12 col-md-5 offset-md-1">
		<h2>Create grocery list<br>for your shopping</h2>
		<p>Benefits description</p>
	</div>
</div>

<hr>
<div class="row section try-now">
	<div class="col-12 text-center">
		<h1>Try it out now</h1>
		<a href="/users/sign_up" class="btn btn-primary">Sign Up Now</a>
	</div>
</div>