<div class="row">
	<div class="home-cover">
		<div class="home-cover-image"></div>
		<div class="home-cover-overlay">
			<div class="home-cover-text text-center">
				<h1>Foodspan</h1>
				<p class="caption">A Food Life-Span Tracker App<br>
				-created purposefully to reduce food waste-</p>
				<a href="/users/sign_up" class="btn btn-primary">Join Us</a>
			</div>
		</div>
	</div>
</div>

<div class="row section feature align-items-center">
	<div class="col-12 col-md-5 offset-md-1 order-2 order-md-1">
		<h2 class="text-right">Tracks Food Expiry</h2>
		<p class="text-right">clean & organised view<br>makes food tracking easy</p>
	</div>
	<div class="col-8 offset-4 col-md-5 offset-md-1 order-1 order-md-2 mb-3 mb-md-0">
		<%= image_tag 'feature-01.jpg', class:"img-fluid feature-img" %>
	</div>
</div>

<div class="row section feature align-items-center">
	<div class="col-8 col-md-5 mb-3 mb-md-0">
		<%= image_tag 'feature-02.jpg', class:"img-fluid feature-img" %>
	</div>
	<div class="col-12 col-md-5 offset-md-1">
		<h2>Grocery to Storage</h2>
		<p>seamlessly manages food<br> from wish list to home-fridge</p>
	</div>
</div>

<div class="row section feature align-items-center">
	<div class="col-12 col-md-5 offset-md-1 order-2 order-md-1">
		<h2 class="text-right">Visualise Food Data</h2>
		<p class="text-right">informative food report<br>for food consumption insights</p>
	</div>
	<div class="col-8 offset-4 col-md-5 offset-md-1 order-1 order-md-2 mb-3 mb-md-0">
		<%= image_tag 'feature-03.jpg', class:"img-fluid feature-img" %>
	</div>
</div>

<hr>
<div class="row section try-now">
	<div class="col-12 text-center">
		<h1>Try it out now</h1>
		<a href="/users/sign_up" class="btn btn-primary">Join Us</a>
	</div>
</div>