/* Colors */
$green: #346102;
$lgreen: rgba(111, 150, 55, 1);
$red: #802E00;
$lred: rgba(190, 94, 40, 1);
$black: #333;
$white: #fff;
$gray: #ccc;
$mobile-size: "only screen and (max-width: 544px)";


body {
	font-family: 'Quicksand', sans-serif;
	color: $black;
}

.content {
	margin-top: calc(56px + 2rem);
}
.section {
	margin: 4rem 0;
	@media #{$mobile-size} {
		margin: 2rem 0;
	}
}

/* Navbar START */
.navbar {
	height:56px;

	#navbarNav {
		justify-content: end;
	}
	.navbar-nav.guest-nav {
		flex-direction: row;
		.nav-item {
			margin-left: 1rem;
			@media #{$mobile-size} {
				margin-left: 0.5rem;
				a {
					font-size: 0.875rem;
				}
			}
		}
	}
	.navbar-nav.user-nav{
		.nav-link {
			letter-spacing: 0.15rem;
			color: #333;
		}
	}
	.navbar-brand {
		color: $green;
		letter-spacing: 0.25rem;
		font-weight:400;
		text-transform: uppercase;
		@media #{$mobile-size} {
			font-size:1rem;
			margin: 0;
		}
	}
}
.bg-light {
	background-color: #efefef!important;
}

#collapsibleNavbar {
	height: 100vh;
	width: 320px;
	position: fixed;
	left: auto;
	right: -320px;
	top: 0;
	display: block!important;
	background: #fff;
	padding: 8px 20px;
	z-index: 1000;
	transition: .5s;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
	@media #{$mobile-size} {
		width: 240px;
	}
}
#collapsibleNavbar.show {
	right:0;
}


#collapsibleNavbar ul li {
	padding:10px;
	border-bottom: 1px solid #eee;
}

.nav-overlay {
	height: 100vh;
	width: 100%;
	max-width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
	display: none;
}

/* Navbar END */

.home-cover {
	width: 100%;
	height:calc(100vh - 56px);
	margin-top: -2rem;
	.home-cover-image {
		background-image: asset-url('home-cover.jpg');
		background-size: cover;
		background-position: 66% top;
		height:inherit;
		width: 100%;
		max-width: 100vw;
		position:absolute;
		top:56px;
		left: 0;
	  // border-radius: 0 0 80px 80px;
	}
	.home-cover-overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		height:inherit;
		width: 100%;
		max-width: 100vw;
		position:absolute;
		top:56px;
		left: 0;
		.home-cover-text  {
			margin-top:8rem;
			@media #{$mobile-size} {
				margin-top:2rem;
			}
		}
		.home-cover-text h1{
			color: $green;
			letter-spacing: 1rem;
			font-weight:300;
			font-size: 4rem;
			margin-bottom: 2rem;
			text-transform: uppercase;
			@media #{$mobile-size} {
				letter-spacing: 0.5rem;
				font-size: 2.75rem;
			}
		}
		.home-cover-text p {
			color: #333;
			letter-spacing: 0.15rem;
			font-weight:300;
			font-size: 1.5rem;
			margin-bottom: 2rem;
			@media #{$mobile-size} {
				font-size: 1rem;
			}
		}
		.btn-primary {
			font-size: 21px;
			padding: 6px 40px;
		}
	}
}
.section.try-now {
	h1 {
		letter-spacing: 0.25rem;
		font-weight:300;
		@media #{$mobile-size} {
			font-size: 2rem;
		}
	}
	.btn {
		font-size: 21px;
		padding: 6px 40px;
		margin-top: 2rem;
	}
}
.section.feature {
	.feature-img {
		border-radius: 20px;
	}
	h2 {
		letter-spacing: 0.25rem;
		font-weight:300;
		line-height: 1.5;
		margin-bottom: 2rem;
		@media #{$mobile-size} {
			font-size: 1.5rem;
		}
	}
	p {
		letter-spacing: 0.15rem;
	}
}

h1.title {
	text-align: center;
	font-weight: 400;
  letter-spacing: 0.1rem;
	@media #{$mobile-size} {
		font-size: 1.75rem
	}
}
h2.sub-title {
	font-weight: 500;
  letter-spacing: 0.1rem;
	@media #{$mobile-size} {
		font-size: 1.25rem;
	}
}
h3.sub-title {
	font-weight: 500;
  letter-spacing: 0.1rem;
	@media #{$mobile-size} {
		font-size: 1rem;
	}
}

button:focus {
	outline: none;
}
.btn-primary {
	background-color: $green;
	border-color: $green;
	color: #fff;
	border-radius: 20px;
	letter-spacing: 0.15rem;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):active:focus{
	background-color: $lgreen;
	border-color: $lgreen;
	box-shadow:none;
}
.btn-outline-primary {
	color: $green;
	border-color: $green;
	border-radius: 20px;
	letter-spacing: 0.15rem;
}
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus{
	color: $lgreen;
	border-color: $lgreen;
	background-color: #FFF;
	box-shadow:none;
}

/* Dashboard Stats */

.doughnut {
	margin-top: 4rem;
	p {
		font-size: 1.5rem;
		span {
			margin-top: 1rem;
			font-size: 3.5rem;
			font-weight: 300;
		}
	}
	.wastage {
		color: $lred;
	}
	.consumed {
		color: $lgreen;
	}
	.doughnut-stats {
		display: block;
	}
	@media #{$mobile-size} {
		margin-top: 2rem;
		p {
			font-size: 1.15rem;
			span {
				margin-top: 1rem;
				font-size: 1.5rem;
				font-weight: 300;
			}
		}
	}
}
/* Login Form START */

.login-form{
	margin-top: 4rem;
	font-size: 1.2rem;
	@media #{$mobile-size} {
		margin-top: 2rem;
		font-size: 0.9rem;
	}

	.btn-primary {
		padding: .5rem 3rem;
		border-radius: 50px;
		font-size: 1.2rem;
		@media #{$mobile-size} {
			padding: .5rem 1.5rem;
			font-size: 0.9rem;
		}
	}
	.form-group {
		text-align: left;
	}

	label {
		margin: .5rem 0;
	}
}

.login-text {
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	@media #{$mobile-size} {
		font-size: 0.9rem;
	}
}

/* Login Form END */

/* Register Form START */

.register-form {
	margin-top: 2rem;
	font-size: 1.2rem;

	.btn-primary {
		margin: 3rem 0;
		padding: .5rem 3rem;
		border-radius: 50px;
		font-size: 1.2rem;
	}

	.form-group {
		text-align: left;
	}

	label {
		margin: .3rem 0;
	}


	@media #{$mobile-size} {
		margin-top: 0;
		font-size: 0.9rem;

		.btn-primary {
			margin: 1.5rem 0;
			padding: .5rem 1.5rem;
			font-size: 0.9rem;
		}
	}
}


.register-text {
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	@media #{$mobile-size} {
		font-size: 0.9rem;
	}
}
/* Register Form END */

/* Forget Password Form START */

.forget-password-form {
	margin-top: 3rem;
	font-size: 1.2rem;

	.btn-primary {
		margin: 3rem 0;
		padding: .5rem 3rem;
		border-radius: 50px;
		font-size: 1.2rem;
	}

	.form-group {
		text-align: left;
	}

	label {
		margin: .3rem 0;
	}


	@media #{$mobile-size} {
		margin-top: 2.5rem;
		font-size: 0.9rem;

		.btn-primary {
			margin: 1.5rem 0;
			padding: .5rem 1.5rem;
			font-size: 0.9rem;
		}
	}
}
/* Forget Password Form END */

/* Select tags */
.form-control:focus {
	outline: none;
	box-shadow: none;
	border: 1px solid $gray;
}

/* Check-box Button */
form.edit_ingredient {
	text-align: right;
}
.box {
	width: 100%;
	user-select: none;

	.check_box {
			opacity: 0;
			visibility: hidden;
			position: absolute;

			&:checked {

					~ .check {
							border-color: $green;
							box-shadow: 0px 0px 0px 15px $green inset;

							&::after {
									opacity: 1;
									transform: scale(1);
							}
					}
			}
	}

	.check {
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			border-radius: 100px;
			background-color: #FFF;
			border: 2px solid $green;
			box-shadow: 0px 0px 0px 0px $green inset;
			transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

			&::after {
					content: '';
					width: 100%;
					height: 100%;
					opacity: 0;
					z-index: 4;
					position: absolute;
					transform: scale(0);
					background-size: 50%;
					background-image: url('http://moiza.ir/checkmark.svg');
					background-repeat: no-repeat;
					background-position: center;
					transition-delay: 0.2s !important;
					transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
			}
	}
}

/* Report Progress Bar START */
.progress {
	border-radius:20px;
	margin-bottom:0.5rem 0;
}
.consumed-text {
	color: $green;
}

.waste-text {
	color: $red;
}

#consumed-bar {
	background-color: $lgreen;
}

#waste-bar {
	background-color: $lred;
}

/* Report Progress Bar END */

/* Storage START */
.storage-edit-btn i {
	color: $green;
	margin-right: 1rem;
}
.storage-delete-btn i {
	color: #9B5756;
}
#storage-add-btn,
.storage-edit-btn,
.storage-add-submit-btn,
#storage-delete-btn,
#storage-edit-btn {
	padding: 0.375rem 1rem;
}
#storage-delete-btn,
#storage-edit-btn {
	display: block;
	margin: 0 auto;
}
.storage-add-submit-btn,  {
	display: block;
	margin: 2rem auto;
}
#storage-search-btn {
	position: absolute;
  top: 0;
  right: 0;
  transition: 0.3s;
}

#storage-search-btn:hover,
#storage-search-btn:not(:disabled):not(.disabled):active,
#storage-search-btn:not(:disabled):not(.disabled):focus,
#storage-search-btn:not(:disabled):not(.disabled):active:focus{
	box-shadow:none;
}
#storage-search-btn:hover {
	opacity: 0.5;
}
#storage-search {
	border-radius: 20px;
}
/* Storage END */


/* Edit Storage Form START */
#edit-storage-quantity {
	margin: 2rem 0;
}

/* Edit Storage Form END */

.col-ingredient-name {
	width: 50%;
}
/* Grocery START */
.grocery-add-submit-btn,
.grocery-edit-submit-btn,
.grocery-move-submit-btn  {
	display: block;
	margin: 2rem auto;
}

#grocery-add-btn,
#grocery-move-btn,
.grocery-edit-btn,
.grocery-add-submit-btn,
.grocery-edit-submit-btn,
.grocery-move-submit-btn{
	padding: 0.375rem 1rem;
}

#grocery-search {
	border-radius: 20px;
}
/* Grocery END */

/* Modal START */
.modal-content {
	border: 0;
  border-radius: 20px;
}
.modal-header .close {
	font-weight: 400;
	font-size: 1.5rem;
}
/* Modal END */

/* General Form START */
form {
	letter-spacing: 0.1rem;
	input {
		letter-spacing: 0.1rem;
	}
}
/* General Form END */

/* Storage START */
.storage-card {
	margin-bottom: 2rem;
	border-radius: 20px;
	p, button {
		font-size: 0.875rem;
	}
	b {
		font-weight: 600;
	}
}
.fresh {
	color: $green;
	font-weight: 500;
	text-align: center;
	p {
		margin-bottom: 0.5rem;
		font-size: 0.875rem;
	}
	.expiring-days {
		background-color: $green;
		color: $white;
	}
}
.expired {
	color: $red;
	font-weight: 500;
	text-align: center;
	p {
		margin-bottom: 0.5rem;
		font-size: 0.875rem;
	}
	.expiring-days {
		background-color: $red;
		color: $white;
	}
}
.expiring-days {
	display: flex;
	align-items:center;
	justify-content: center;
	position: relative;
	text-align: center;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	line-height: 1.2;
  margin: 0 auto;
	.days {
		font-size: 1.5rem;
		font-weight: 300;
		display: block;
	}
}
/* Storage END */

/* Grocery START */
.grocery-card {
	margin-bottom: 2rem;
	border-radius: 20px;
	p, button {
		font-size: 0.875rem;
	}
	b {
		font-weight: 600;
	}
	.fa.fa-trash {
		color: $green;
		font-size: 2rem;
	}
}
/* Grocery END */

/* Tokenfield START*/
.tokenfield .token {
	border-radius: 20px!important;
  background: transparent!important;
  border: 1px solid #346102!important;
  height: auto!important;
  padding: 0 0 0 4px!important;
  margin: 0 8px 8px 0!important;
}
.tokenfield.focus {
	border-color: #ced4da!important;
  outline: none!important;
  box-shadow: none!important;
}
.tokenfield .token .close {
	font-family: 'Quicksand', sans-serif!important;
  font-size: 1.5em!important;
  font-weight: 400!important;
  line-height: .875!important;
}

/* Tokenfield END*/

#confirm-storage {
	display: none;
	transform: translate(0, -50px);
	opacity: 0;
	border: 0;
  border-radius: 0.3rem;
  outline: 0;
  padding: 2rem 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 20px;
  width: 75%;
  z-index: 1;
  margin-top: -50px;
  form p {
  	padding-top:1rem;
  }
	@media #{$mobile-size} {
  	width: 90%;
  	form p {
  		font-size: 0.875rem;
  	}
	}
}
#confirm-storage-overlay {
	display: none;
	position: absolute;
	top: -63px;
  left: 0;
	width: 100%;
	height: 100%;
	padding-top: 63px;
  box-sizing: content-box;
  background-color: rgba(0,0,0,0.5);
  border-radius: 20px;
  transition: 0.3s;
}
#confirm-storage.show {
	display: block;
}
#confirm-storage-overlay.show {
	display: block;
}

#edit-storage-quantity-display {
	text-align: center;
	letter-spacing: 0.1rem;
	b {
		font-weight: 500;
	}
}
.purchase_date,
.expiry_date {
	font-size: 0.875rem;
}

/* Range Slider START */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: $gray;
}
input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: $black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $gray;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: $gray;
}
input[type=range]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: $black;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Range Slider END */