<div class="modal fade" id="add_groceries_storages" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Ingredient/s to Storage</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

			<div class="row">
				<div class="col-12">
					<table id="grocery-table" class="table">
						<thread>
							<tr>
								<th scope="col">Ingredient</th>
								<th scope="col">Expiry Date</th>
								<th scope="col">Expiring In</th>
							</tr>
						</thread>
						<tbody>
							<% @ingredients.where(:bought => true).each do |ingredient| %>
								<tr class="grocery-item">
						  		<td><%= ingredient.name %></td>

									<td><%= ingredient.expiry_date %></td>
						  		<td><%= ingredient.expiry_date %></td>
				  			</tr>
			  			<% end %>
						</tbody>
					</table>
				</div>
			</div>

			</div>
		</div>
	</div>
</div>